.floating-box {
    float: left;
    width: 50px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
    background-color: darkgreen;
}

.floating-box1{
    float: left;
    width: 50px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
    background-color: darkgreen;
}

.after-box {
    clear: left;
    border: 3px solid red;
}